#menu {
    background: #ffdc7b;
    text-align: center;
    padding: 5px;
    line-height: 1.5;
    border-radius: 3px;
    font-size: 1.2em;
}

#menu>#loggedInUser {
    float: right;
    margin-right: 10px;
}

#menu a {
    display: none;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#menu a:hover {
    background: #e2bb3d;
}

main > section {   /*> means direct child -> section is direct child of main*/
    display: none;
}

section h1 {
    margin: 10px 0px;
    font-size: 1.2em;
}

table th {
    background: #d1ba49;
    padding: 10px;
}

table td {
    padding: 5px 10px;
    background: #fdffb9;
}

#infoBox, #errorBox, #loadingBox {
    position: absolute;
    float: right;
    right: 50px;
    left: 50px;
    top: 42px;
    padding:  0.5em 2em 0.5em 2em;
    margin: 1em;
    width: 40%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}

/*#loadingBox {*/
    /*background: #7CB3E9;*/
/*}*/
#infoBox {
    background: #393;
}
#errorBox {
    background: #F50;
}

input[type=submit] {
    margin-top: 7px;
}

footer {
    background: #ffdc7b;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 33px;
    width: 100%;
    #padding: 5px 10px;
    font-size: 1.0em; /* this means 80% from the original*/
    text-align: center;
    align-self: center;
    vertical-align: center;
    align-items: center;
    border-radius: 3px;
}

.editButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
    background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
    background-color:#ffc477;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #eeb44f;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:5px 24px;
    margin-left: 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #cc9f52;
}
.editButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
    background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
    background-color:#fb9e25;
}
.editButton:active {
    position:relative;
    top:1px;
}

.deleteButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
    background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
    background-color:#fc8d83;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    margin-left: 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}
.deleteButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
    background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
    background-color:#e4685d;
}
.deleteButton:active {
    position:relative;
    top:1px;
}

/* STYLE OF LOADER */
#loader {
    position: fixed;
    top: 21%; left: 50%;
    transform: translate(-50%, -50%);
}